.navbar {
  background-color: white;
  border-bottom-color: $primary-color;
  font-family: $font-family-primary;

  .active a{
    background-color: $body-bg !important;
  }

}

.navbar-brand {
  color: $primary-color !important;
  font-weight: 400;
  font-family: inherit;
  font-size: 20px;
  &:hover,
  &:focus {
    color: $primary-color !important;
  }
}

.page-header {
  background-color: $primary-color;
  min-height: 140px;

    h1 {
      color: white !important;
      padding-top: 20px;
      font-family: $font-family-primary !important;
      font-weight: inherit;
      font-size: 24px;
    }
}