#{headings(1,6)} {
  font-family: $font-family-primary;
  font-weight: 400;
  font-style: normal;
  color: $primary-color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

/* Links */

a {
  text-shadow: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Horizontal break */

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 0;
}

/* Unstyled List */

.list-unstyled li > .list-unstyled {
  margin-left: 25px;
}

/* Code */

//pre {
//  border-left: $primary-color 6px solid !important;
//  margin: 15px auto !important;
//  border: 1px solid $primary-color;
//  width: auto;
//  max-height: 450px;
//  white-space: pre;
//  word-wrap: normal;
//  background-color: lighten($primary-color, 50%) !important;
//  padding: 0em 1em;
//
//  >code {
//    background: none;
//    border: none;
//    color: inherit;
//  }
//
//}
//
//code {
//  background: $body-bg;
//  border: darken($body-bg, 50%) 1px solid;
//  color: darken($body-bg, 50%);
//}

blockquote {
  padding: 10px 20px;
  margin: 20px;
  border-left: 5px solid #eee;
  font-style: italic;
  font-size: inherit;
  color: lighten($primary-color, 10%);
}

/*change breadcrumb background color*/
.breadcrumb {
  background-color: $primary-color;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  padding-left: 2px;
}

.breadcrumb > li + li:before {
  content: "| ";
  padding: 0 5px;
}

/*change breadcrumb links color*/
.breadcrumb a {
  color: white;
}

.breadcrumb a:hover {
  text-decoration: none;
}

/*change active color*/
.breadcrumb > .active {
  color: lighten($primary-color, 40%);
}

.meta {
  display: block;
  position: relative;
  padding: 10px;
  overflow: hidden;
  font: 12px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #767676;
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  border-radius: 0 0 2px 2px;
  width: 100%;
  margin: 0 auto !important;

  > span {
    color: black;

    .fa-heart {
      color: rgba(227, 36, 4, 0.8);
      text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px transparent;
    }

  }

  > #clippy a, a:link, a:visited, a:hover, a:active {
    color: black !important;
  }


}