$icon-font-path: "/fonts/bootstrap/";
$fa-font-path: "/fonts/fontawesome/";
$simple-line-font-path: "/fonts/simple-line-icons/";
@import "bootstrap";
@import "font-awesome";
@import "simple-line-icons";
@import "globals/variables";
@import "globals/functions";
@import "globals/overrides";
@import "components/typography";
@import "components/badges";
@import "components/buttons";
@import "partials/header";
@import "components/pagination";
@import "components/portlets";
@import "partials/footer";
