.nav {

  & img {
    width: 32px;
    height: 32px;
    @media screen and (max-width: 800px) {
      width: 24px;
      height: 24px;
    }
  }

  & span {
    line-height: 33px;
    @media screen and (max-width: 736px) {
      padding-top: 0px !important;
    }
  }


  & .navbar-right a {
    line-height: 33px;
    @media screen and (min-width: 768px) {
      line-height: 29px;
      padding-top: 15px;
    }
  }

}

.navbar {
  background-color: white;
  border-bottom-color: $primary-color;
  font-family: $font-family-primary;

  .active a {
    background-color: $body-bg !important;
  }

}

.navbar-brand {
  color: $primary-color !important;
  font-weight: 400;
  font-family: inherit;
  font-size: 20px;

  &:hover,
  &:focus {
    color: $primary-color !important;
  }

  > .rounded-logo {
    border-radius: 55%;
    margin-right: 10px;
    border: 1px solid $primary-color;
  }
}

.page-header {
  background-color: $primary-color;
  padding-bottom: 0px !important;

  h1 {
    color: white !important;
    padding-top: 20px;
    font-family: $font-family-primary !important;
    font-weight: inherit;
    font-size: 24px;

    @media screen and (max-width: 600px) and (orientation: portrait){
      padding-top: 0px;
    }

  }
}